   <meta charset="UTF-8">
    <title>{{ pageData.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="generator" content="{{ pageData.generator }}"/>
    <meta name="description" content="{{ pageData.desc }}">
    <meta name="keywords" content="{{ pageData.keys }}"/>
    <meta name="author" content="{{ pageData.author }}">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="3 month" />
    <meta property="og:url" content="{{ pageData.ogurl }}" />
    <meta property="og:type" content="{{ pageData.ogtype }}" />
    <meta property="og:title" content="{{ pageData.ogtitle }}" />
    <meta property="og:description" content="{{ pageData.ogdesc }}" />
    <meta property="og:image" content="{{ pageData.ogimg }}" />
    <meta property="fb:page_id" content="{{ pageData.fbpgid }}" />
    <meta name="twitter:card" content="{{ pageData.twcard }}" />
    <meta name="twitter:site" content="{{ pageData.twsite }}" />
    <meta name="twitter:title" content="{{ pageData.twtitle }}" />
    <meta name="twitter:description" content="{{ pageData.twdesc }}" />
    <meta name="twitter:image" content="{{ pageData.twimg }}" />